[submodule "third-party/volk"]
	path = third-party/volk
	url = git@github.com:zeux/volk.git
[submodule "third-party/SDL"]
	path = third-party/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "third-party/VulkanMemoryAllocator"]
	path = third-party/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third-party/cgltf"]
	path = third-party/cgltf
	url = git@github.com:awkr/cgltf.git
